beautifulsoup4==4.5.0
dateparser==0.4.0
jdatetime==1.8.1
python-dateutil==2.5.3
python-espncricinfo==0.2.3
pytz==2016.6.1
regex==2016.7.21
requests>=2.20.0
pyyaml
six==1.10.0
umalqurra==0.2
wheel==0.24.0
